<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X UA-Compatible" content="ie=edge">
    <title>html grunnur -Template</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
            <h3>Þversumma kennitölu</h3>
    </header>
    <ol>Jón Haraldsson<a href="/sida/1606936783">654654654</a></ol>
    <ol>Sigurjón Karlson<a href="/sida/2712836783">321321321</a></ol>
</body>
</html>